﻿@using BillerClientConsole.Models;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, X.PagedList.Mvc
@addTagHelper *, X.PagedList

@{ 
    var questions = (List<BillerClientConsole.Models.MEnquiryQuestions>)ViewBag.questions;
}

<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<div class="table-responsive">
    <table class="table tblsm" id="datatable">
        <thead>
            <tr>
                <th>  Status </th>
                <th>  Question </th>
                <th>  Action </th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.questions != null)
            {
                @foreach (var item in questions)
                {

                    <tr class="@(item.Status==true ? "" : "table-active")">
                        <td title="@(item.Status==true?"Active":"Disabled")"> @(item.Status==true ? "Active" : "Disabled") </td>
                        <td title="@item.Question"> @item.Question </td>
                        <td>
                            <a href="~/Questions/EditQuestion/@item.Id" class="badge badge-info">edit</a> |
                            @if (item.Status==false)
                            {
                                <a href="~/Questions/EnableQuestion/@item.Id" class="badge badge-success">enable</a>
                            }
                            else
                            {
                                <a href="~/Questions/DisableQuestion/@item.Id" class="badge badge-warning">disable</a>
                            }
                            | <a href="~/Questions/DeleteQuestion/@item.Id/" class="badge badge-danger">delete</a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*
    @Html.PagedListPager(feedback, page => Url.Action("ListFeedBack", "Reports", new { pageNumber = page }))
*@

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


</script>

