﻿@using BillerClientConsole.Models;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, X.PagedList.Mvc
@addTagHelper *, X.PagedList

@{ 
    var orders = (List<BillerClientConsole.Models.MBillerOrders>)ViewBag.orders;
}


<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />


<form method="get" action="~/Reports/ListOrders">
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>


<div class="table-responsive">
    <table class="table tblsm table-striped" id="datatable">
        <thead>
            <tr>
                <th>Date</th>
                <th>ProductCode</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orders)
            {
                <tr>
                    <td title="@item.Date.ToString("yyyy-MM-dd")">@item.Date.ToString("yyyy-MM-dd")</td>
                    <td title="@item.ProductCode">@item.ProductCode</td>
                    <td title="@item.Quantity">@item.Quantity</td>
                    <td title="@item.UnitPrice">@item.UnitPrice</td>
                    <td title="@((item.UnitPrice*item.Quantity)?.ToString("0.00"))">@((item.UnitPrice * item.Quantity)?.ToString("0.00"))</td>
                    <td title="Go to transaction">
                        <a style="color:blue;text-decoration:underline;cursor:pointer;" href="~/Reports/ListTransactionHistory?transaction_id=@item.TransactionId">View Transaction</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


</script>

