﻿@using BillerClientConsole.Models;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, X.PagedList.Mvc
@addTagHelper *, X.PagedList

@{ 
    var payments = (List<BillerClientConsole.Models.MPayments>)ViewBag.payments;
}


<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>
@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />

<form method="get" action="~/Reports/ListPaymentHistory">
    <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>


<div class="table-responsive">
    <table class="table tblsm table-striped" id="datatable">
        <thead>
            <tr>
                @* <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chk_all" checked="">
                            <label class="custom-control-label" for="chk_all"></label>
                        </div>
                    </th>
                *@


                <th>Date</th>
                <th>Paid Amount</th>
                <th>TrackingId</th>
                <th>Batch Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in payments)
            {
                <tr>
                    @*<td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="@item.id" checked="">
                                <label class="custom-control-label" for="@item.id"></label>
                            </div>
                        </td>
                    *@
                    <td title="@(item.PaymentDate?.ToString("yyyy-MM-dd"))">@(item.PaymentDate?.ToString("yyyy-MM-dd"))</td>
                    <td title="@item.PaidAmount">@item.PaidAmount</td>
                    <td title="@item.TrackingId">@item.TrackingId</td>
                    <td title="@item.BatchNo">@item.BatchNo</td>

                </tr>
            }
        </tbody>
    </table>
</div>

@*
    @Html.PagedListPager(feedback, page => Url.Action("ListFeedBack", "Reports", new { pageNumber = page }))
*@

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


</script>

