﻿@using BillerClientConsole.Models;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, X.PagedList.Mvc
@addTagHelper *, X.PagedList

@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />
@{ 
    var products = (List<BillerClientConsole.Models.MBillerProduct>)ViewBag.products;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<div class="table-responsive">
    <table class="table tblsm" id="datatable">
        <thead>
            <tr>
                <th> Product Code </th>
                <th> Name </th>
                <th> Price </th>
                <th> Description </th>
                <th> Image </th>
                <th> Available </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.products != null)
            {
                @foreach (var item in products)
                {

                    <tr class="@(item.Available ==true ? "" : "table-active")">
                        <td title="@item.ProductCode"> @item.ProductCode </td>
                        <td title="@item.Name"> @item.Name </td>
                        <td title="@item.Price"> @item.Price </td>
                        <td title="@item.Description"> @item.Description </td>
                        <td title="@item.ImageUrl"> @item.ImageUrl </td>
                        <td> @(item.Available == true ? "yes" : "no") </td>
                        <td>
                            <a href="~/Products/ViewDetails/@item.Id" class="badge badge-dark">open</a>
                            | <a href="~/Products/DeleteProduct/@item.Id/" class="badge badge-danger">delete</a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*
    @Html.PagedListPager(feedback, page => Url.Action("ListFeedBack", "Reports", new { pageNumber = page }))
*@

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


</script>

