﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var all_billers = (List<APIClientConsole.Models.MBillerInfo>)ViewBag.all_billers;
    var billers_selected_by_this_client = (List<string>)ViewBag.billers_selected_by_this_client;
}


<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }

    table.dataTable th.selectall-checkbox,
    table.dataTable td.selectall-checkbox {
      cursor: pointer;
      outline: none;
      text-align: center;
    }

</style>

@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />


<div class="table-responsive">
    <table class="table tblsm" id="datatable">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th style="display:none">ID</th>
                <th>Biller Name</th>
                <th>Biller Code</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in all_billers)
            {
                <tr>
                    <td title=""><input type="checkbox" /></td>
                    <td style="display:none">@item.Id</td>
                    <td title="@item.BillerName">@item.BillerName</td>
                    <td title="@item.BillerCode">@item.BillerCode</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="saveSelection();">SAVE</button>
</div>



<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    var table = $('#datatable').DataTable({
        responsive: {
            details: {
                type: 'column',
                target: -1,
            }
        },
        columnDefs: [{
            targets: -1,
            orderable: false,
            searchable: false,
            className: 'control',
        }, {
            targets: 0,
            orderable: false,
            searchable: false,
            className: 'selectall-checkbox',
        }],
        select: {
            style: 'multi',
            selector: 'td:first-child',
        },
        order: [1, 'asc'],
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });
    @using Newtonsoft.Json;
    var selected_rows = @(Html.Raw(JsonConvert.SerializeObject(billers_selected_by_this_client)));
    // On DataTables select / deselect event check / uncheck all checkboxes. And deal with the checkbox
    // in the thead (check or uncheck).
    table.on('select.dt deselect.dt', function (e, dt, type, indexes) {
        var countSelectedRows = table.rows({ selected: true }).count();
        var countItems = table.rows().count();

        if (countItems > 0) {
            if (countSelectedRows == countItems) {
                $('thead .selectall-checkbox input[type="checkbox"]', this).prop('checked', true);
            } else {
                $('thead .selectall-checkbox input[type="checkbox"]', this).prop('checked', false);
            }
        }

        if (e.type === 'select') {
            //add selected billers to list
            $('.selectall-checkbox input[type="checkbox"]', table.rows({ selected: true }).nodes()).prop('checked', true);
            console.log('indexes', indexes);
            indexes.forEach(function (item, index) {
                var biller_id = table.row(item).data()[1];//1 is index of biller_id in table row
                selected_rows.push(biller_id);
            });
        } else {
            //remove unselected biller from list
            $('.selectall-checkbox input[type="checkbox"]', table.rows({ selected: false }).nodes()).prop('checked', false);
            console.log('deselected,indexes', indexes);
            indexes.forEach(function (item, index) {
                var biller_id = table.row(item).data()[1];//1 is index of biller_id in table row
                selected_rows = selected_rows.filter(function (value, index, arr) {
                    return value != biller_id;
                });
            });

        }
        console.log('selected_rows', selected_rows);
    });

    // When clicking on "thead .selectall-checkbox", trigger click on checkbox in that cell.
    table.on('click', 'thead .selectall-checkbox', function () {
        $('input[type="checkbox"]', this).trigger('click');
    });


    // When clicking on the checkbox in "thead .selectall-checkbox", define the actions.
    table.on('click', 'thead .selectall-checkbox input[type="checkbox"]', function (e) {
        if (this.checked) {
            table.rows().select();
        } else {
            table.rows().deselect();
        }
        e.stopPropagation();
    });


    ///post the data to the server
    function saveSelection() {
        $.busyLoadFull("show");
        $.ajax({
            method:"POST",
            url: "@Url.Content("~/Billers/SaveSelection")",
            data: {
                selectedBillers: selected_rows,
                categoryId:@ViewBag.categoryId
            },
            success: function (data) {
                $.busyLoadFull("hide");
                if (data.res == "ok") {
                    toastr.success("Saved");
                } else {
                    toastr.error("Error occured");
                }
            },
            error: function () {
                $.busyLoadFull("hide");
            },
        });

    }


    //select the rows that have already been selected
    table.rows().every(function (rowIdx, tableLoop, rowLoop) {
        var biller_id = table.row(rowIdx).data()[1];//1 is index of biller_id in table row
        console.log('biller_id', biller_id);
        if (selected_rows.includes(biller_id)) {
            this.select();
        }
    });


</script>

