﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/Resources/CreateResource" method="post">
                @*row1*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ResourceName</label>
                            <input  name="ResourceName" type="text" class="form-control" required >
                        </div>
                    </div>
                </div>
               

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
