﻿@{
    Layout = "../Shared/_LayoutMain";
    var enq = (BillerClientConsole.Models.MEnquiryQuestions)ViewBag.enq;
}
    <div class="container">


        <div class="row">
            <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">

                <form action="~/Enquiries/EditEnquiry" method="post" id="f1" style="width:40%;color:red;">

                    <input type="hidden"  name="Billercode" value="@enq.Billercode"/>
                    <input type="hidden"  name="Id" value="@enq.Id"/>

                    <div class="form-group">
                        <label class="black">Question</label>
                        <input type="password" class="form-control" value="@enq.Question" name="Question"  placeholder="question..." required>
                    </div>


                    <div class="form-group">
                        <label class="black">Question Status</label>
                        <select class="form-control" name="status">
                            <option value="true" selected="@(enq.Status==true)">Active</option>
                            <option value="false" selected="@(enq.Status==false))">Not Active</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>

                </form>
            </div>
        </div>


    </div>

<script>

        $('#f1').validate({
            rules: {
                new_password: {
                    minlength: 5
                },
                confirm_password: {
                    minlength: 5,
                    equalTo: "#new_password"
                }
            }
        });
</script>
