﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var enqs = (List<BillerClientConsole.Models.MEnquiryAnswer>)ViewBag.enqs;
}

<div class="container">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Questions and Answers</th>
                </tr>
            </thead>
            @foreach (var item in enqs)
            {
                <tr class="table-active">
                    <td>
                        @item.Question
                    </td>
                </tr>
                <tr>
                    <td>
                        @item.Answer
                    </td>
                </tr>
            }
            <tbody>
            </tbody>
        </table>

    </div>
</div>
