﻿@{
    Layout = "../Shared/_LayoutMain";
    var user = (BillerClientConsole.Models.AspNetUsers)ViewBag.user;
    var bankAccount = (BillerClientConsole.Models.MBankAccount)ViewBag.bank;
    var address = (BillerClientConsole.Models.MAddress)ViewBag.address;
    var billerInfo = (BillerClientConsole.Models.MBillerInfo)ViewBag.billerInfo;
    var banks = (List<BillerClientConsole.Models.EnumBanks>)ViewBag.banks;

}
@using BillerClientConsole.Models;


<div class="container">
    <form method="post" action="~/Account/UpdateBillerDetails">

        <div class="row">
            @*basic info*@
            <div class="col-md-12">
                <h3>Basic info</h3>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Biller Code</label>
                            <input type="text" class="form-control" value="@billerInfo.BillerCode" name="BillerCode" placeholder="Biller Code" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Biller Name</label>
                            <input type="text" class="form-control" value="@billerInfo.BillerName" name="BillerName" placeholder="Biller Name" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Contact Person</label>
                            <input type="text" class="form-control" value="@billerInfo.ContactPerson" name="ContactPerson" placeholder="Contact Person" required>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Contact Email</label>
                            <input type="email" class="form-control" value="@billerInfo.ContactEmail" name="ContactEmail" placeholder="Contact Email" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Contact Phone</label>
                            <input type="text" class="form-control" value="@billerInfo.ContactPhone" name="ContactPhone" placeholder="Contact Phone" required>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <br />
        <br />
        <br />
        <div class="row">
            @*basic info*@
            <div class="col-md-12">
                <h3>Account details</h3>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Account Name</label>
                            <input type="text" class="form-control" value="@bankAccount.AccountName" name="AccountName" placeholder="Account Name" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Account Number</label>
                            <input type="text" class="form-control" value="@bankAccount.AccountNumber" name="AccountNumber" placeholder="Account Number" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Bank</label>
                            <select class="form-control" name="Bank">
                                @foreach (var b in banks)
                                {
                                    <option value="@b.Id" selected="@(b.Id==bankAccount.EnumBank)">@b.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        @*bank info*@
        <div class="row">
            <div class="col-md-12">
                <h3>Address info</h3>

                <div class="row">
                    <input type="hidden" value="@address.BillerCode" name="BillerCode">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Street</label>
                            <input type="text" class="form-control" value="@address.Street" name="Street" placeholder="Street" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>City</label>
                            <input type="text" class="form-control" value="@address.City" name="City" placeholder="City" required>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
        </div>

        <br />
        <br />
    </form>
</div>