﻿@{
    Layout = "../Shared/_LayoutMain";
}
<div class="container">

    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">

            <form action="~/Account/ChangePassword" method="post" id="f1" style="width:40%;color:red;">

                <div class="form-group">
                    <label class="black">Current Password</label>
                    <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Current Password" required>
                </div>


                <div class="form-group">
                    <label class="black">New Password</label>
                    <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <label class="black">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>

            </form>
        </div>
    </div>


</div>

<script>

        $('#f1').validate({
            rules: {
                new_password: {
                    minlength: 5
                },
                confirm_password: {
                    minlength: 5,
                    equalTo: "#new_password"
                }
            }
        });
</script>
</script>