﻿@{
    Layout = "_LayoutMain";
    var question = (BillerClientConsole.Models.MEnquiryQuestions)ViewBag.question;
}


<style>
    label {
        color: rebeccapurple;
        font-weight: 400;
    }
</style>

        
<div class="row container">
    <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;width:90%;">

        <form action="~/Questions/UpdateQuestion" method="post" style="width:40%;">
            <input type="hidden" name="Billercode" value="@question.Billercode" />
            <input type="hidden" name="Id" value="@question.Id" />

            <div class="form-group">
                <label><span style="color:red;">*</span>Question</label>
                <textarea class="form-control"  name="Question" required placeholder="Enter question...">@question.Question</textarea>
            </div>


            <div class="form-group">
                <label><span style="color:red;">*</span>Status</label>
               <select name="status" class="form-control">
                   <option value="true" selected="@(question.Status)">Active</option>
                   <option value="false" selected="@(!question.Status)">Disabled</option>
               </select>
            </div>


           
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    SAVE
                </button>
            </div>

        </form>
    </div>

</div>