﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var biller = (Admin.Models.AspNetUsers)ViewBag.biller;
    var banks = (List<Admin.Models.EnumBanks>)ViewBag.banks;
    var currency = (List<Admin.Models.EnumCurrencyCode>)ViewBag.currency;
}

@*

    create and manage the biller accounts whcih link to the bank account
*@


    <div class="container">
        <h5>Create Account: @biller.MBillerInfo.BillerName</h5>
        <div class="row">
            <div class="col-md-12">
                <form action="~/Billers/CreateBillerAccount" method="post">
                    <input type="hidden" value="@biller.Id" name="Id"/> 
                    @*row1*@
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><span style="color:red">*</span> Bank</label>
                                <select class="form-control" name="EnumBank">
                                    @foreach(var b in banks)
                                    {
                                        <option value="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><span style="color:red">*</span> Currency</label>
                                <select class="form-control" name="EnumCurrencyCode">
                                    @foreach(var c in currency)
                                    {
                                        <option value="@c.Id">@c.CurrencyCode</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><span style="color:red">*</span> AccountName</label>
                                <input name="AccountName" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><span style="color:red">*</span> AccountNumber</label>
                                <input name="AccountNumber" type="text" class="form-control" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <h5>Accounts</h5>
        <div class="row">
            <div class="col-md-12">
                <table id="dt" class="table tblsm">
                    <thead>
                        <tr>
                            <th>Active</th>
                            <th>Bank</th>
                            <th>Currency</th>
                            <th>AccountName</th>
                            <th>AccountNumber</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in biller.MBankAccount?.ToList())
                        {
                            <tr class="@(item.Active==true?"table-success":"")">
                                <td title="@(item.Active==true?"Active":"Not Active")">@(item.Active==true?"Active":"Not Active")</td>
                                <td title="@item.EnumBankNavigation.Name">@item.EnumBankNavigation.Name</td>
                                <td title="@item.EnumCurrencyCodeNavigation.CurrencyCode">@item.EnumCurrencyCodeNavigation.CurrencyCode</td>
                                <td title="@item.AccountName">@item.AccountName</td>
                                <td title="@item.AccountNumber">@item.AccountNumber</td>
                                <td>
                                    <a href="~/Billers/SetDefaultAccount/@item.Id" style="color:blue;">
                                        Make Default
                                    </a>|
                                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>


<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Account?',
            buttons: {
                Yes: function () {
                    window.location = "../Billers/DeleteAccount/"+id;
                },
                No: function () {
                },

            }
        });

    }

</script>