﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var categories = (List<Admin.Models.EnumBillerCategory>)ViewBag.categories;
    var types = (List<Admin.Models.EnumBillerType>)ViewBag.types;
}

@*

    creates a biller
        a biller is linked to a user account and is in the biller role

*@

<style>
</style>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/Billers/CreateBiller" method="post">

                @*row1*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Email</label>
                            <input name="Email" type="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Password</label>
                            <input name="Password" type="text" class="form-control" value="Rubiem#99" required>
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerName</label>
                            <input name="BillerName" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerCode</label>
                            <input name="BillerCode" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ContactPerson</label>
                            <input name="ContactPerson" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ContactPhone</label>
                            <input name="ContactPhone" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerType</label>
                            <select class="form-control" name="EnumBillerType">
                                @foreach (var t in types)
                                {
                                    <option value="@t.Id">@t.Type</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerCategory</label>
                            <select class="form-control" name="EnumBillerCategory">
                                @foreach (var c in categories)
                                {
                                    <option value="@c.Id">@c.Category</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                @*row*@
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> HasProducts</label>
                        <input type="checkbox" value="true" name="HasProducts" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> HasAccounts</label>
                        <input type="checkbox" value="true" name="HasAccounts" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> HasAdditionalData</label>
                        <input type="checkbox" value="true" name="HasAdditionalData" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> AllowConfirm</label>
                        <input type="checkbox" value="true" name="AllowConfirm"/>
                    </div>
                </div>
            </div>
                <hr />
                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> RequestEndPoint</label>
                            <input type="text" name="RequestEndPoint" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> CredentialsUsername</label>
                            <input type="text" name="CredentialsUsername" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> CredentialsPassword</label>
                            <input type="text" name="CredentialsPassword" class="form-control" />
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ConnectionType</label>
                            <input type="text" name="ConnectionType" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> PaymentCycle</label>
                            <select class="form-control" name="PaymentCycle">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerStatus</label>
                            <select class="form-control" name="BillerStatus">
                                <option value="true">Active</option>
                                <option value="false">Not Active</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Enabler</label>
                            <input type="text" name="Enabler" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> HasCart</label>
                            <input type="checkbox" value="true" name="HasCart" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>

