﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var biller = (Admin.Models.AspNetUsers)ViewBag.biller;
    var categories = (List<Admin.Models.EnumBillerCategory>)ViewBag.categories;
    var types = (List<Admin.Models.EnumBillerType>)ViewBag.types;
}

@*

  edits a biller

*@

<style>

   
</style>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/Billers/EditBiller" method="post">

                @*row1*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Email</label>
                            <input name="Email" value="@biller.Email" type="email" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Password</label>
                            <input name="Password" type="text" class="form-control" value="Rubiem#99" readonly>
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="hidden" value="@biller.Id" name="Id"/>
                            <label><span style="color:red">*</span> BillerName</label>
                            <input name="BillerName" value="@biller.MBillerInfo?.BillerName" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerCode</label>
                            <input name="BillerCode" value="@biller.MBillerInfo?.BillerCode" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ContactPerson</label>
                            <input name="ContactPerson" value="@biller.MBillerInfo?.ContactPerson" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ContactPhone</label>
                            <input name="ContactPhone" value="@biller.MBillerInfo?.ContactPhone" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerType</label>
                            <select class="form-control" name="EnumBillerType">
                                @foreach (var t in types)
                                {
                                    <option selected="@(t.Id==biller.MBillerInfo.EnumBillerType)" value="@t.Id">@t.Type</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerCategory</label>
                            <select class="form-control" name="EnumBillerCategory">
                                @foreach (var c in categories)
                                {
                                    <option selected="@(c.Id==biller.MBillerInfo.EnumBillerCategory)" value="@c.Id">@c.Category</option>
                                }
                            </select>
                        </div>
                    </div>


                </div>

                @*row*@
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> HasProducts</label>
                        <input type="checkbox" value="true" name="HasProducts" checked="@(biller.MBillerInfo?.HasProducts)" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> HasAccounts</label>
                        <input type="checkbox" value="true" name="HasAccounts" checked="@(biller.MBillerInfo?.HasAccounts)" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> HasAdditionalData</label>
                        <input type="checkbox" value="true" name="HasAdditionalData" checked="@(biller.MBillerInfo?.HasAdditionalData)" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span> AllowConfirm</label>
                        <input type="checkbox" value="true" name="AllowConfirm" checked="@(biller.MBillerInfo?.AllowConfirm)" />
                    </div>
                </div>
            </div>
                <hr />
                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> RequestEndPoint</label>
                            <input type="text" name="RequestEndPoint" value="@biller.MBillerInfo?.RequestEndPoint" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> CredentialsUsername</label>
                            <input type="text" name="CredentialsUsername" value="@biller.MBillerInfo?.CredentialsUsername" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> CredentialsPassword</label>
                            <input type="text" name="CredentialsPassword"  value="@biller.MBillerInfo?.CredentialsPassword" class="form-control" />
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ConnectionType</label>
                            <input type="text" name="ConnectionType"  value="@biller.MBillerInfo?.ConnectionType" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> PaymentCycle</label>
                            <select class="form-control" name="PaymentCycle">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> BillerStatus</label>
                            <select class="form-control" name="BillerStatus">
                                <option value="true" selected="@(biller.MBillerInfo?.BillerStatus==true)">Active</option>
                                <option value="false" selected="@(biller.MBillerInfo?.BillerStatus==false)">Not Active</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Enabler</label>
                            <input type="text" name="Enabler" value="@biller.MBillerInfo?.Enabler" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color:red">*</span> HasCart</label>
                            <input type="checkbox" value="true" name="HasCart" checked="@biller.MBillerInfo?.HasCart" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>

