﻿@{
    Layout = "../Shared/_LayoutMain";
}
<div class="container">

    <div class="row">
        <div class="col-md-9">


            <div class="row">
                @*notifications*@
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h3 class="card-header">Notifications</h3>
                        <ul class="list-group list-group-flush">

                            <a href="~/Notifications/AllNotifications" style="border-top:1px solid #DFDFDF">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    All
                                    <span class="badge badge-primary badge-pill">@ViewBag.notifications_total</span>

                                </li>
                            </a>

                            <a href="~/Notifications/UnRead" style="border-top:1px solid #DFDFDF">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    UnRead
                                    <span class="badge badge-danger badge-pill">@ViewBag.notifications_un_read</span>
                                </li>
                            </a>
                            <a href="/Notifications/Read" style="border-top:1px solid #DFDFDF">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Read
                                    <span class="badge badge-primary badge-pill">@ViewBag.notifications_read</span>
                                </li>
                            </a>

                        </ul>
                        <div class="card-footer text-muted">
                            &nbsp;
                        </div>
                    </div>
                </div>

                @*products*@
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h3 class="card-header">Products</h3>
                        <ul class="list-group list-group-flush">

                            <a href="~/Products" style="border-top:1px solid #DFDFDF">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    All
                                    <span class="badge badge-primary badge-pill">@ViewBag.products_total</span>

                                </li>
                            </a>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Not Available
                                <span class="badge badge-danger badge-pill">@ViewBag.products_in_active</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Available
                                <span class="badge badge-primary badge-pill">@ViewBag.products_active</span>
                            </li>



                        </ul>
                        <div class="card-footer text-muted">
                            &nbsp;
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                @*products*@
                <div class="col-md-12">
                    <div class="card mb-3">
                        <h3 class="card-header">Reports</h3>
                        <ul class="list-group list-group-flush">

                            <a href="~/Reports/ListTransactionHistory" style="border-top:1px solid #DFDFDF">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Transaction History
                                    <span class="badge badge-primary badge-pill">@ViewBag.transaction_history</span>

                                </li>
                            </a>

                            @*<a href="~/Reports/ListPaymentHistory" style="border-top:1px solid #DFDFDF">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Payment History
                                    <span class="badge badge-primary badge-pill">@ViewBag.payment_history</span>
                                </li>
                            </a>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                &nbsp;
                            </li>*@

                        </ul>
                        <div class="card-footer text-muted">
                            &nbsp;
                        </div>
                    </div>
                </div>

            </div>


        </div>
        @*col-md-9*@

        <div class="col-md-3">

            <div class="row">
                @*enquirires*@
                <div class="col-md-12">
                    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                        <div class="card-header">Enquiries</div>
                        <div class="card-body">
                            <table style="width:100%;">
                                <tr>
                                    <td> <a href="~/Enquiries/ListAllOpenEnquiries">Read</a></td>
                                    <td><span class="badge badge-dark">@ViewBag.read_enquiries</span></td>
                                </tr>

                                <tr>
                                    <td><a href="~/Enquiries/ListAllClosedEnquiries">UnRead</a></td>
                                    <td><span class="badge badge-dark">@ViewBag.un_read_enquiries</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @*feedback*@
                <div class="col-md-12">
                    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                        <div class="card-header">Feedback</div>
                        <div class="card-body">
                            <a href="~/Reports/ListFeedback">
                                <table style="width:100%;">
                                    <tr>
                                        <td>Positive</td>
                                        <td><span class="badge badge-success">80%</span></td>
                                    </tr>
                                    <tr>
                                        <td>Neutral</td>
                                        <td><span class="badge badge-warning">10%</span></td>
                                    </tr>
                                    <tr>
                                        <td>Negative</td>
                                        <td><span class="badge badge-danger">10%</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <hr style="border:1px solid #fff;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Read</td>
                                        <td><span class="badge badge-dark">@ViewBag.read_feedback</span></td>
                                    </tr>
                                    <tr>
                                        <td>UnRead</td>
                                        <td><span class="badge badge-dark">@ViewBag.un_read_feedback</span></td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        @*col-md-3*@


    </div>
    @*row*@

</div>
@*container*@