﻿@{
    Layout = "../Shared/_LayoutMain";
}

<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

@{
    var notifications = (List<BillerClientConsole.Models.MNotification>)ViewBag.notifications;
}
@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />
<form method="get" action="~/Notifications/AllNotifications">
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>


<div class="table-responsive">
    <table class="table tblsm" id="datatable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in notifications)
            {
                <tr class="@(item.IsRead==true?"":"table-active")">

                    <td title="@(item.Date?.ToString("yyyy-MM-dd"))">@item.Date?.ToString("yyyy-MM-dd")</td>
                    <td title="@item.Message">@item.Message</td>
                    <td>
                        <a href="~/Notifications/ViewDetails/@item.Id" class="badge badge-success">open</a> |
                        @if (item.IsRead == true)
                        {
                            <a href="~/Notifications/MarkAsUnRead/@item.Id/@(ViewBag.date_from ?? -1)/@(ViewBag.date_to ?? -1)/AllNotifications" class="badge badge-dark">mark-as-un-read</a>
                        }
                        else
                        {
                            <a href="~/Notifications/MarkAsRead/@item.Id/@(ViewBag.date_from ?? -1)/@(ViewBag.date_to ?? -1)/AllNotifications" class="badge badge-info">mark-as-read</a>
                        }
                        |<a href="~/Notifications/Delete/@item.Id/@(ViewBag.date_from??-1)/@(ViewBag.date_to??-1)/AllNotifications" class="badge badge-danger">delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


</script>
