﻿@{
    Layout = "/Views/Shared/_LayoutMain.cshtml";
    var notification = (BillerClientConsole.Models.MNotification)ViewBag.notification;
}


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Date: @notification.Date?.ToString("yyyy-MM-dd")
        </div>
    </div>
    <br />

    <hr />
    <br />

    <div class="row">
        <div class="col-md-12">
           @notification.Message
        </div>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <a href="~/Notifications/Delete/@notification.Id/-1/-1/AllNotifications" class="badge badge-danger">Delete</a>
        </div>
    </div>

    </div>