﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var billers = (List<Admin.Models.AspNetUsers>)ViewBag.billers;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="~/Billers/CreateBiller" class="btn btn-sm btn-primary">Create Biller</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Email</th>
                        <th>BillerName</th>
                        <th>BillerCode</th>
                        <th>ContactPerson</th>
                        <th>ContactPhone</th>
                        <th>BillerType</th>
                        <th>BillerCategory</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in billers)
                    {
                        <tr class="@(item.MBillerInfo?.BillerStatus==false?"table-danger":"")">
                            <td title="@(item.MBillerInfo?.BillerStatus==true?"Active":"Not Active")">@(item.MBillerInfo?.BillerStatus == true ? "Active" : "Not Active")</td>
                            <td title="@item.Email">@item.Email</td>
                            <td title="@item.MBillerInfo?.BillerName">@item.MBillerInfo?.BillerName</td>
                            <td title="@item.MBillerInfo?.BillerCode">@item.MBillerInfo?.BillerCode</td>
                            <td title="@item.MBillerInfo?.ContactPerson">@item.MBillerInfo?.ContactPerson</td>
                            <td title="@item.MBillerInfo?.ContactPhone">@item.MBillerInfo?.ContactPhone</td>
                            <td title="@(Helpers.getBillerType(item.MBillerInfo?.EnumBillerType.Value))">@(Helpers.getBillerType(item.MBillerInfo?.EnumBillerType.Value))</td>
                            <td title="@(Helpers.getBillerCategory(item.MBillerInfo?.EnumBillerCategory.Value))">@(Helpers.getBillerCategory(item.MBillerInfo?.EnumBillerCategory.Value))</td>
                            <td>
                                <a href="~/Billers/EditBiller/@item.Id" style="color:blue;">
                                    Edit
                                </a>|
                                <a href="~/Billers/BillerAccounts/@item.Id" style="color:purple;">
                                    Accounts
                                </a>|
                                @if (item.MBillerInfo?.BillerStatus == true)
                                {
                                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_disable('@item.Id')">
                                        Disable
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" style="color:green;" onclick="confirm_enable('@item.Id')">
                                        Enable
                                    </a>
                                }
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    |  Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Biller?',
            buttons: {
                Yes: function () {
                    window.location = "../Billers/DeleteBiller/" + id;
                },
                No: function () {
                },

            }
        });

    }


    function confirm_disable(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Disable this Biller?',
            buttons: {
                Yes: function () {
                    window.location = "../Billers/DisableBiller/" + id;
                },
                No: function () {
                },

            }
        });

    }


    function confirm_enable(id) {
        $.confirm({
            title: 'Information',
            type: "blue",
            content: 'Enable this Biller?',
            buttons: {
                Yes: function () {
                    window.location = "../Billers/EnableBiller/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>