﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var clients = (List<Admin.Models.AspNetUsers>)ViewBag.clients;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="~/Clients/CreateClient" class="btn btn-sm btn-primary">Create Client</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>ClientId</th>
                        <th>Secret</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in clients)
                    {
                    <tr>
                        <td title="@item.Email">@item.Email</td>
                        <td title="@item.MApiClients?.ClientId">@item.MApiClients?.ClientId</td>
                        <td title="@item.MApiClients?.Secret">@item.MApiClients?.Secret</td>
                        <td>
                            <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                Delete
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Client?',
            buttons: {
                Yes: function () {
                    window.location = "../Clients/DeleteClient/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>