﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*highcharts*@
<link href="~/libs/highcharts/highcharts.css" rel="stylesheet" />
<script src="~/libs/highcharts/highcharts.js"></script>
<script src="~/libs/highcharts/highcharts-more.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">data</div>
                <div class="card-body">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">data</div>
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">data</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="chart3"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart4"></div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    Highcharts.chart('chart1', {
         credits: {
    enabled: false
  },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Stats for Male users'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Sentiments',
            colorByPoint: true,
            data: @Html.Raw(ViewBag.male_stats)
        }]
    });
</script>

<script>
    Highcharts.chart('chart2', {
         credits: {
    enabled: false
  },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Stats for female users'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Sentiments',
            colorByPoint: true,
            data: @Html.Raw(ViewBag.female_stats)
        }]
    });
</script>

<script>
    Highcharts.chart('chart3', {
         credits: {
    enabled: false
  },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Age Ranges, for app usage'
        },
        tooltip: {
            pointFormat: '{series.name}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>'
                }
            }
        },
        series: [{
            name: 'Sentiments',
            colorByPoint: true,
            data: @Html.Raw(ViewBag.all_users_stats)
        }]
    });
</script>

<script>
    Highcharts.chart('chart4', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Age Ranges, for app usage'
    },
    xAxis: {
        categories: @Html.Raw(ViewBag.all_users_categories_stats)
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'sentiments',
        data: @Html.Raw(ViewBag.all_users_stats)
    }]
});
</script>