﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@*
    
creates an api client 
client id is the name of the client ie nmb_bank
clients are consumers of the api they are not billers

    to create a client you start by creating a user then linking user to client

*@

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/Clients/CreateClient" method="post">


                @*row1*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Email</label>
                            <input name="Email" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Password</label>
                            <input name="Password" type="text" class="form-control" value="Rubiem#99" required>
                        </div>
                    </div>
                </div>


                @*row2*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> ClientId</label>
                            <input name="ClientId" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Secret</label>
                            <input name="Secret" type="text" class="form-control" value="@Guid.NewGuid().ToString()" required>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
