﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var feedback=(BillerClientConsole.Models.MFeedBack)ViewBag.feedback;
}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Date: @feedback.Date?.ToString("yyyy-MM-dd")
            </div>

            <div class="col-md-4">
                Customer: @feedback.Customername
            </div>

            <div class="col-md-4">
                Phone: @feedback.Customerphone
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-12">
                @feedback.Feedback
            </div>
            <br />
           
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <a href="~/FeedBack/Delete/@feedback.Id" class="badge badge-danger">Delete</a>
            </div>
        </div>

    </div>