﻿@{
    Layout = "_LayoutMain";
}

<style>
    label {
        color: rebeccapurple;
        font-weight: 400;
    }
</style>

        
<div class="row container">
    <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;width:90%;">

        <form action="~/Products/AddNewProduct" method="post" style="width:40%;">
            <input type="hidden" name="billercode" value="@ViewBag.billercode" />

            <div class="form-group">
                <label>Product code</label>
                <input type="text" class="form-control"  name="productcode" required>
            </div>



            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"  name="name" required>
            </div>


            <div class="form-group">
                <label>Price</label>
                <input type="number" step="any" class="form-control"  name="price" required>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" required>
            </div>


            <div class="form-group">
                <label>Image Url</label>
                <input type="text" class="form-control" name="image_url" placeholder="leave blank if none">
            </div>


            <div class="form-group">
                <label>Available</label>
                <select class="form-control" name="available">
                    <option value="true" >Yes</option>
                    <option value="false" >No</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    SAVE
                </button>
            </div>

        </form>
    </div>

</div>