﻿@{
    Layout = "_LayoutMain";
}

<style>
    label {
        color: rebeccapurple;
        font-weight: 400;
    }
</style>


@{ 
    var product = (BillerClientConsole.Models.MBillerProduct)ViewBag.product;
}
        
<div class="row container">
    <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;width:90%;">

        <form action="~/Products/UpdateProduct" method="post" style="width:40%;">
            <input type="hidden" name="Id" value="@product.Id" />
            <input type="hidden" name="BillerCode" value="@product.BillerCode" />

            <div class="form-group">
                <label>Product code</label>
                <input type="text" class="form-control" value="@product.ProductCode" name="ProductCode" required>
            </div>



            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" value="@product.Name" name="Name" required>
            </div>


            <div class="form-group">
                <label>Price</label>
                <input type="number" step="any" class="form-control" value="@product.Price" name="Price" required>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" value="@product.Description" name="Description" required>
            </div>


            <div class="form-group">
                <label>Image Url</label>
                <input type="text" class="form-control" value="@product.ImageUrl" name="ImageUrl">
            </div>


            <div class="form-group">
                <label>Available</label>
                <select class="form-control" name="available">
                    <option value="true" selected="@(product.Available==true)">Yes</option>
                    <option value="false" selected="@(product.Available==false)">No</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    SAVE
                </button>
            </div>

        </form>
    </div>

</div>