﻿@{ 
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var orders = (List<APIClientConsole.Models.MBillerOrders>)ViewBag.orders;
}


<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />




<div class="table-responsive">
    <table class="table tblsm table-striped" id="datatable">
        <thead>
            <tr>
                <th>ProductCode</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orders)
            {
                <tr>
                    <td title="@item.ProductCode">@item.ProductCode</td>
                    <td title="@item.Quantity">@item.Quantity</td>
                    <td title="@item.UnitPrice">@item.UnitPrice</td>
                    <td title="@((item.UnitPrice*item.Quantity)?.ToString("0.00"))">@((item.UnitPrice * item.Quantity)?.ToString("0.00"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


</script>

