﻿@{
    Layout = "_Layout";
}

@*includes*@
<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/assets/js/openvidu-browser-2.11.0.js"></script>
<link href="~/assets/css/style.css" rel="stylesheet" />



<div id="session" style="display: block;">
    <h1 id="session-header"></h1>
    <input type="button" onclick="leaveSession()" value="LEAVE">
    <div>
        <div id="publisher"><h3>YOU</h3></div>
        <div id="subscriber"><h3>OTHERS</h3></div>
    </div>
</div>





<script>

    var OV;
    var session;


    function joinSession() {

        console.log("bout to join");

        OV = new OpenVidu();
        session = OV.initSession();

        session.on("streamCreated", function (event) {
            session.subscribe(event.stream, "subscriber");
        });

        //get token as url parameter
        const urlParams = new URLSearchParams(window.location.search);
        //decode the base_64_token_string
        const wss_token = atob(urlParams.get('wss_token'));
        //const wss_token = getParameterByName('wss_token', window.location.search);

        console.log("token");
        console.log(wss_token);

        //connect to websocket
        session.connect(wss_token)
            .then(() => {
                console.log("6");
                var publisher = OV.initPublisher("publisher");
                session.publish(publisher);
                console.log("5");
            })
            .catch(error => {
                console.log("4");
                console.log(error.code + " " + error.message);
                console.log("There was an error connecting to the session:", error.code, error.message);
            });
    }

    //close session on leaving the page
    window.onbeforeunload = function () {
        if (session) session.disconnect();
    };

    //call method
    joinSession();


    //leave session
    function leaveSession() {
        if (session) session.disconnect();
    }

    //get url parameters
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

</script>
