﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
    <div class="container." style="display:flex;justify-items:center;">


        <div class="jumbotron" style="width:100%;">
            <p class="lead" style="width:100%;">
                <center>
                    This product is offered by rubiem Innovations. All queries or questions should be directed to
                    <br />Rubiem Innovations
                </center>
            </p>
            <p class="lead">
                
                <table class="table">
                    <tr>
                        <td><span class="fab fa-skype"></span></td>
                        <td>scbillers</td>
                    </tr>

                    <tr>
                        <td><span class="fab fa-whatsapp"></span></td>
                        <td>073919335</td>
                    </tr>

                    <tr>
                        <td><span class="fa fa-phone"></span></td>
                        <td>073919335</td>
                    </tr>

                    <tr>
                        <td><span class="fas fa-envelope"></span></td>
                        <td>scbillers@rubieminnovations.xyz</td>
                    </tr>

                </table>

            </p>
        </div>




    </div>