﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*zebra datetime*@
<script src="~/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
<link defer href="~/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.css" rel="stylesheet" />

<div class="container">

    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Transactions</div>
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.total_transactions</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-white bg-danger mb-3">
                        <div class="card-header">Amount</div>
                        <div class="card-body">
                            <h4 class="card-title">ZWL @ViewBag.total_transactions_amount</h4>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                @*billers*@
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="card-header">Billers</h3>
                        <div class="card-body">
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
            </div>


            <br />
            <br />
            <div class="row">
                @*categories*@
                <div class="col-md-12">
                    <div class="card mb-3">
                        <h3 class="card-header">Billers</h3>
                        <div class="card-body">
                            <div id="chart2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <form action="~/Home/Dashboard" method="post">
                <table>
                    <tr>
                        <td>From: </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
                    </tr>
                    <tr>
                        <td>To: </td>
                    </tr>

                    <tr>
                        <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
                    </tr>

                    <tr>
                        <td>
                            <br />
                            <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>



</div>
@*container*@

<script type="text/javascript">
    Highcharts.chart('chart1', {
        credits: {
        enabled: false
    },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Transaction amount (ZWL)'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Transactions (ZWL)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Transactions (ZWL): <b>{point.y:.2f}</b>'
        },
        series: [{
            name: 'Tranasactions',
            data: [
                @(Html.Raw(ViewBag.chart1data))
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>

<script type="text/javascript">
    // Radialize the colors
    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });

    // Build the chart
    Highcharts.chart('chart2', {
         credits: {
        enabled: false
    },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Top Billers'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Share',
            data: [
                @(Html.Raw(ViewBag.chart2data))
            ]
        }]
    });
</script>

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

</script>
