﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var client = (APIClientConsole.Models.AspNetUsers)ViewBag.client;
}
    <div class="container." style="display:flex;justify-items:center;">


        <div class="jumbotron" style="width:100%;">
            <p class="lead" style="width:100%;">
                <center>
                    This is your api access key, it must not be shared with anyone.
                    <br />Contact Rubiem Innovations to change your api key.
                </center>
            </p>
            <p class="lead">
                
                <table class="table">
                    <tr>
                        <td><span class="fa fa-user"></span> ClientID</td>
                        <td>@client.MApiClients.ClientId</td>
                    </tr>

                    <tr>
                        <td><span class="fa fa-lock"></span> Secret</td>
                        <td>@client.MApiClients.Secret</td>
                    </tr>

                    <tr>
                        <td><span class="fas fa-envelope"></span> Help</td>
                        <td>scbillers@rubieminnovations.xyz</td>
                    </tr>

                </table>

            </p>
        </div>




    </div>